* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  background-color: black;
  text-align: center;
}
p {
  color: blanchedalmond;
  font-size: 2.5rem;
}
.nav {
  min-height: 20vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
}

.nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  color: white;
  font-size: 2rem;
}

h1 {
  font-size: 3.5rem;
  color: white;
}

.about {
  min-height: 40vh;
  background-color: lightblue;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.test {
  min-height: 40vh;
  background-color:lightblue;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

